<h1> Create a huuman </h1>
<!--form-->
<form action="/users/create" method="POST">
	<p>Name:<input type="text" name="name" ></p>
	</br> 
	<p>  <input type="submit" value="sign-up"></p>
    <p>  <input type="submit" value="cancel"></p>
</form>