<h1> Create a huuman </h1>
<!--form-->
<form action="/users/create" method="POST">
	<p>Name:<input type="text" name="name" ></p>
	<p>Username:<input type="text" name="username" ></p>
	<p>Password:<input type="text" name="password" ></p>
	</br> 
	<p>  <input type="submit" value="sign-up"></p>
    
</form>