<form action="/ingredients/create" method="POST">
	<p>Name of the ingredient: <input type="text" name="name"></p>
	<p>Information about the ingredient: <input type="textarea" name="info"></p>
	<br>
	<input type="submit" value="create">
</form>