<a href="/recipes/new">create a recipe of your own </a><br>
<a href="/ingredients/new"> add a new special ingredient to our knowledge</a><br>
<h2>Here's you ingredient</h2>
<p> Name : <%= @ingred.name %><p>
<br>
<p> Info :<%= @ingred.info %><p>

<a href="/ingredients/<%=@ingred.id%>/edit">edit this</a>

<form action="/recipes/<%=@ingred.id%>/delete" method="POST" " >
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete recipe">
	
</form>

