<a href="/recipes/new">create a recipe of your own </a><br>
<a href="/ingredients/new"> add a new special ingredient to our knowledge</a><br>
<h2>Here's you ingredient</h2>
<p> Name : <%= @ingred.name %><p>
<br>
<p> Info :<%= @ingred.info %><p>

